
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="col-12">
        <div class="row">

            <div class="col-8">
                <br /> <br /> <br /> 
                <image src="https://dolly.com/blog/wp-content/uploads/2018/06/garage-sale-tips-and-tricks-1.png" width="700px" />
            </div>
            <div class="col-4">
                <br />
                <p><span style="color:#007bff;font-size:30px; font-family: 'Brush Script MT', cursive; ">About MVC SHOP</span></p>
                <p>
                    <span style="color:#007bff;font-size:12px; font-family: 'Brush Script MT', cursive; ">MVC SHOP</span> is a ecommerce site which enables you to buy and sell used/ second hand items. This store is more geared towards individual buyers and sellers as opposed to manufacturing
                    companies.<br /><br />
                                    <span style="color:#007bff;font-size:12px; font-family: 'Brush Script MT', cursive; ">MVC SHOP</span> makes buying and selling of items extrmely streamlined. After signing up , you can simply add items which you want to sell with just a few clicks.<br /><br />
                    You can then monitor how close each product is to being sold. If a customer has added one of your items to the shoppping cart but is waiting for too long. You do not have to worry. <br /><br />
                    You can view the date on which the item has been added to the shopping cart and if it has remained in the shopping cart of a customer for too long you can remove the item from the customers shopping cart and add it back to circulation, so that a different customer will have access to it.
                    <br /> <br /> If you are a customer looking to buy a used product, buying thing has never been easier. You can search for anything you like and all the items have been categorized in a easy to find manner.
                    <br /> <br />We hope that you are able to get what you want from <span style="color:#007bff;font-size:12px; font-family: 'Brush Script MT', cursive; ">MVC SHOP</span> and if anything goes wrong feel free to contact us.
</p></div>
        </div>

    </div>
    </div>

