@{
    ViewData["Title"] = "About Me";
}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <br /><br /><br />
            <div class="text-center">
                <span style="color:#007bff;font-size:30px; font-family: 'Brush Script MT', cursive; ">About Me</span>
            </div>

            <p>
                Hi. My name is Surain Fernando. And I'm a recent graduate of National Institute of Business Management Colombo. My undergraduate degree is BSc (Hons) Computing and my degree will be awarded by the Coventry University UK. I have  successfully completed all modules of my degree successfully and the graduation date is pending.  </br> I created
                this website so as to give my prospective employers an idea about my capabilities<br />
                I'm curently looking to start my career in the IT field.
            </p>
            <p><span style="font-size:15px;font-weight:bold">My Contact Details</span></p>
            <table>
                <tr>
                    <td> My linked in profile </td>
                    <td>- <a href="https://www.linkedin.com/in/surain-fernando-342024181">Linked In Profile</a> </td>

                </tr>
                <tr>
                    <td> My Email address  </td>
                    <td>- surainnewfernando@gmail.com</td>

                </tr>
                <tr>
                    <td> My Telephone No </td>
                    <td>- 0778282125</td>

                </tr>
            </table>


        </div>
        <div class="col-4">
            <br/><br /><br /><br />

          
          
        </div>
        <div class="col-2"></div>
    </div>
    <div>
