
@{
    ViewData["Title"] = "Technology";
}


<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                <br />     <br />     <br />
                <div class="row"><image src="https://codeopinion.com/wp-content/uploads/2018/07/Bitmap-MEDIUM_ASP.NET-Core-Logo_2colors_Square_RGB.png" width="325px" style="margin-right:10px;"/>
                                 <image src="https://iconape.com/wp-content/files/jy/81002/svg/microsoft-sql-server.svg" width="325px" style="margin-right:10px;" />
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <image src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg" width="325px" style="margin-right:10px;" />
                    </div>
                    <div class="col-2"></div>


                </div>

                </div>
            <div class="col-4">
                <br />     <br />     <br />    <br />     <br />     <br /><br />
                <p><span style="color:#007bff;font-size:30px; font-family: 'Brush Script MT', cursive; ">Technology Used</span></p>
                <ul>
                    <li>This aplication was built using ASP.NET Core 3.1.</li>
                    <li>MVC Framework with C# was used.</li>
                    <li>SQL Server was used as the database.</li>
                    <li>Session state was used for state management and to secure user data.</li>
                    <li>Bootstrap was used for front end design.</li>
                    <li>The application was deployed on Azure cloud service</li>


                </ul>
            </div>
            </div>
     

    </div>
    

</div>


