
@model ECOMMERCE_MVC.Models.Customer;
@{
    ViewData["Title"] = "Change Password";
}

<form method="post" asp-action="EditPassword">
    <br>
    <div class="border p-3">

        <div class="form-group row">
            <h1 style="text-align: center;">Change Password</h1>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label >Enter Old Password</label>
                    </div>
                    <div class="col-8">
                        <input type="password" id="password1" class="form-control" />
                        <span id="tb1" class="text-danger"></span>
                    </div>

                </div>



                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-8">
                        <input id="Password" type="password" asp-for="Password" class="form-control" />
                        <span id="error1" asp-validation-for="Password" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="col-8">
                        <input type="password"  id="ConfirmPassword" asp-for="ConfirmPassword" class="form-control"  />
                        <span  id="error2" asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                </div>



                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <button type="button" class="btn btn-info w-100" onclick=checkPassword("@ViewBag.password")>Save Changes</button>
                        </div>
                        <div class="col">
                            <a asp-controller="Customer1" asp-action="EditDetails" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            @* Keep this empty *@

        </div>
    </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
    function checkPassword(x) {
        resetPasswordError();
        if (document.getElementById("password1").value != x) {
            document.getElementById("tb1").innerHTML = "Please enter your current Password"
            // alert("hello" + document.getElementById("password1").value);

        }
        else {

            if (document.getElementById("Password").value == document.getElementById("ConfirmPassword").value) {
                var password = document.getElementById("Password").value;
                alert("Your password was successfully changed!"+password);
              
                 window.location.href = '@Url.Action("EditPasswordAction", "Customer1")?password='+password  ;

            }
            else {
                document.getElementById("error1").innerHTML = "ConfirmPassword' and 'Password' do not match."
                document.getElementById("error2").innerHTML = "ConfirmPassword' and 'Password' do not match."

            }


        }


    }

    function resetPasswordError() {
        document.getElementById("tb1").innerHTML = ""
        document.getElementById("error1").innerHTML = ""
        document.getElementById("error2").innerHTML =""
    }

    function chehckpasswords() {


    }

    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}




