@model ECOMMERCE_MVC.Models.Customer;
@{
    ViewData["Title"] = "Sign In";
}

<form method="post" asp-action="Index">
    <br>
    <div class="border p-3">

        <div class="form-group row">
            <h1 style="text-align: center;"> Sign In</h1>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-8">
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Sign In" />
                        </div>
                        <div class="col">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4"> <a asp-controller="Customer1" asp-action="Register"><span style="color:darkgray"> <u>Would you like to sign up?</u></span></a></div>
                    
                    <div class="col-md-4"></div>
                    
                       
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        @* Keep this empty *@

    </div>
    </div>

</form>



@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}