
@{
    ViewData["Title"] = "ViewProducts";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">View Products</h2>
        </div>
      
           
 
        <div class="col-6 text-right">
            <div class="row">
                <p>
                    <a asp-controller="Admin" asp-action="AddCategory" class="btn btn-primary">
                        Add New Category
                    </a>  
                </p>

                 

                 

               
            </div>
        </div>

    </div>
    

